<div class="lm-col-12 lol-page-item"><div class="lol-item-heading-parallax dark"><h2 class="animated bounceInLeft done">АКВАТЕК – ГРАДИМ БЪДЕЩЕТО ВЪВ ВОДНИЯ СВЯТ</h2><p class="animated bounceInRight done"></p><h3>Фирма АКВАТЕК ООД е създадена през 1994 г. и има представителства в градовете <strong>Варна, София, Пловдив, Бургас, Букурещ.</strong></h3>
    <h3>Клиенти на фирмата са голяма част от луксозните хотелски комплекси по черноморските ни и планински курорти, частни юридически и физически лица, обществени организации.</h3>
    <h3><strong>С над 25 години опит в индустрията</strong>, фирмата е сред първенците в сфери като:</h3>
    <ul>
         <li>
    <h3>дизайн и строеж на&nbsp;малки и големи басейни;</h3>
    </li>
         <li>
    <h3>проектиране и изграждането на аквапаркове и водно-атракционни комплекси;</h3>
    </li>
         <li>
    <h3>цялостни решения за оборудване на обществени сгради и хотели;</h3>
    </li>
         <li>
    <h3>изграждане на СПА помещения;</h3>
    </li>
         <li>
    <h3>монтаж и оборудване на&nbsp;СПА центрове.</h3>
    </li>
    </ul>
    <h3>Фирма АКВАТЕК се гордее с <strong>над 3000 съоръжения в България, Сърбия, Хърватия, Украйна, Молдова, Македония, Албания, Италия, Австрия, Румъния, Гърция, ОАЕ&nbsp;и други държави по света. </strong> По този начин, фирмата се е доказалa като надежден партньор, както в проектирането и изграждането на басейни за частни и публични клиенти, така и за своите доставчици.</h3>
    <h3><strong>Главна цел на развитието и основно конкурентно предимство на АКВАТЕК е високото качество и надеждност на изгражданите и оборудвани съоръжения.</strong> Това е и причината фирмата да счита за удовлетвореността на клиентите си като един от главните елементи в своята мисия. Фирмата е определяна като <strong> синоним на надеждност, висок професионализъм и перфектни резултати в сферата на басейните.</strong></h3><strong>
    <h3>Един от главните аспекти в мисията на АКВАТЕК е постигане на растеж, както за икономиката на град Варна, така и за страната като цяло. Ние осъзнаваме, че най-добрият начин да помогнем на българския пазар е чрез предлагане на отлични услуги и висококачествено оборудване и аксесоари за нуждите на всеки басейн, сауна, спа, джакузи и други.</h3>
    <h3>Компонентите на нашата <strong>формула за успех</strong> са:</h3>
    <ul>
    <li><h3>работа с висококачествени материали на световни производители;</h3></li>
    <li><h3>подбор на опитни специалисти и повишаване на тяхната квалификация;</h3></li>
    <li><h3>конкурентни цени;</h3></li>
    <li><h3>максимална коректност към изискванията на клиента;</h3></li>
    <li><h3>перфектно качество и гаранционно обслужване.</h3></li>
    </ul>

    <ul>
    <li><h3>ISO 14001 : 2015 </h3></li>
    <li><h3>ISO 9001 : 2015 </h3></li>
    <li><h3>ISO 45001 : 2018 </h3></li>
    </ul>
    <p></p></strong></div></div>