<footer>
<div class="container">
    <div class="footer-widgets">
        <div class="row">
            <div class="left-col">
               
                    <section>
<p>Строго е забранено копирането на материали без позоваване на източника с активна връзка! При желание да се използват текстовете - свържете се с нас или добавете активна връзка към сайта ни!</p>
</section>					</div>
       
            <div class="left-col">
         
<h3 class="follow-us-title">Последвайте ни:</h3>

<ul>
    <li><a href="#"><img src="../../../assets/stationaryJPG/facebook-SVG.jpg" width="24" height="24"></a></li>

<li><a href="#"><img src="../../../assets/stationaryJPG/youtube.png" width="24" height="24"></a></li>

<li><a href="#"><img src="../../../assets/stationaryJPG/flickr.png" width="24" height="24"></a></li>
</ul>
				</div>

        </div>
    </div>
</div>
</footer>